* {
    margin: 0px;
    padding: 0px;
}
/* SideBar */
.sidebar {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #04acc5;
  overflow-x: hidden;
  padding-top: 20px;
}
ul{
  list-style-type: none;

}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
.sidebar li a {
  color: white;
} 

.bar{
  float: right;
  padding-right: 10px;
  color: white
}
.bar{
  float: right;
  padding-right: 10px;
  color: white
}

.App-link {
  color: #61dafb;
}

.sideButton1{
  width: 120px;
  background-color: #04acc5;
  border-radius: 10px;
  border-color: white;
  padding-bottom: 5px;
  color: white;
  outline: 0;

}
.sideButton1 button:focus{
  outline: none;

}
.iconImage{
  width: 20px;
  height: 20px;
  padding:3px;  
  display: table-cell;
  vertical-align: middle; 
  justify-content: center;
  text-decoration: none;

}
.iconBorder{
  display: inline-block;
  background-color: white;
  margin: 5px;
  border-radius: 50%;

}
.sidebar .header{
  color: white
}
.sideElement{
  display:grid;
  grid-template-columns: auto auto;
}
/* SideBar */



/* TopNav */
.topnav {
  margin-top: 20px;
  height: 0px;
  border-bottom: 80px solid #066360;
  border-left: 150px solid transparent;
  z-index: 2;
}
.navElement{
  padding-top: 10px;
}
.navElement i{
  font-size: 50px;
  color: white;
}
.icon{
  margin-left: 100px;
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
}
.icon i{
  padding-left: 20px;
}
.icon a{
  color: white;
  margin-right: 40px;
}
.icon a:hover{
  color: white;
}
/* TopNav */


/* TopIcons */
.icons{
  float:right;
}
/* TopIcons */


/* RegisterForm */
.register-form input[type=text]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.register-form input[type=file]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.register-form input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.register-form input[type=submit]:hover {
  background-color: #45a049;
}

.register-form {
  border-radius: 5px;
  padding: 20px;
}
.register-form .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-top: 20px;
}

.register-form .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.registerCard{
  padding: 2px 16px;
  background: #f9f9fa;

}

/* RegisterForm */

/* logCard */
.logInfo .card {

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-top: 20px;
  margin-left:10px;
}

.logInfo .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.logInfo {
  padding: 2px 16px;
  background-color: #f9f9fa;
}
/* log Card */
/* Contol Info */
.controlInfo .card {

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-top: 20px;
  margin-left:10px;
}

.controlInfo .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.controlInfo {
  padding: 2px 16px;
  height: 100%;
  background-color: #f9f9fa;
}
/* Contol Info */
/* Toogle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 5px;
  align-self: auto;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.controller{
  margin:10px;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
}
/* Toogle switch */


.container {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    overflow: auto;
}

.side {
    float: left;
    width: 20%;
}
.side1 {
  float: left;
  width: 0%;
}

.content {
    float: right;
    width: 80%;
}
.content1 {
  float: right;
  width: 100%;
}
Link{
  text-decoration: none;
}